<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>You shouldn't be here...</title>
</head>
<body id="blackness">

    <div class="container d-flex justify-content-end">
        <div class="d-flex justify-content-end">
            <img class="d-flex justify-content-end" id="smilerImg" src="{{ asset('img/smiler.PNG') }}" alt="image_smiler">
        </div>
    </div>

</body>

{#<script>#}

{#    const image = document.getElementById("smilerImg");#}

{#    document.getElementById("smilerImg").addEventListener("click", afficher);#}

{#    function afficher() {#}
{#        console.log("dans la methode");#}
{#        console.log(image);#}
{#        image.setAttribute("hidden", "hiddden");#}
{#        image.removeAttribute("hidden");#}
{#    }#}

{#</script>#}



</html>