body {
    font-family:'Roboto', sans-serif;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px grey solid;
    padding-left:0;
    background: linear-gradient(rgba(0,30,120,0.4), rgba(110,110,110,0.4));
}
header h5 {
    color:green;
    font-style: italic;
}
#nav-left {
    display:flex;
    align-items: center;
    justify-content: center;
}
#nav-left h3 {
    position:relative;
    right:90px;
}
#nav-left a img {
    width:40%;
}
#nav-right ul {
    display: flex;
    list-style-type: none;
}
#nav-right ul a {
    text-decoration: none;
    font-weight: bold;
    color:black;
}
#nav-right ul a:hover {
    color:blue;
}

/* ACCUEIL */
#accueil {
    background:linear-gradient(rgba(0,140, 130, 0.4), rgba(40,110, 190, 0.4)), url("../img/train.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:white;
    text-shadow: #0f172a 2px 2px;
    height:900px;
}

/* Formulaires */
.forms{
    margin: .3em;
    padding: .3em;
}

/* AFFICHAGE DE LA LISTE DES SORTIES */
#liste_sorties {
    background:linear-gradient(rgba(0,140, 130, 0.4), rgba(40,110, 190, 0.4)) ;
}
#filter {
    margin-top:13vh;
}
#valider_filter {
    width:12em;
    height:4em;
    border-radius: 25%;
    background-color: #a6b1c6;
}
#valider_filter:hover {
    background-color: white;
}
#creer_sortie {
    margin: 0.5em 1em 1em 1em;
    background-color:#a6b1c6;
    border:1px darkgray solid;
}
#creer_sortie:hover {
    background-color:white;
}

/* CREER SORTIE */
#ajout_sortie button {
    background-color: red;
}
#ajout_sortie input {
    width:30%;
    border:1px solid black;
}
.dhd_ajout {
    border:1px black solid;
    width:30%;
}
.dli_ajout {
    border:1px black solid;
    width:30%;
}
.lieu_ajout {
    border:1px black solid;
    width:30%;
}
