{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Administration du site{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="{{ path('accueil_main') }}">Retour à l'accueil</a>
{% endblock %}

{% block main %}



    <table class="datagrid">
        <thead>
            <tr>
                <td><b>Commandes administrateur</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    - <a href="{{ path('app_participants_csv_file') }}">Ajouter des participants via un fichier CSV</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}