{% extends 'base.html.twig' %}

{% block title %}CSV Files{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="offset-3 col-4">
            <h3>Ajouter des participants par intégration d'un fichier CSV</h3>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="offset-3 col-4 align-content-center">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}