{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block body %}
    <div id="ajout_sortie">
        <h1>Création d'une nouvelle sortie</h1>

        {{ include('sortie/_form.html.twig') }}


        <a href="{{ path('app_sortie_index') }}">back to list</a>


    </div>

{% endblock %}