{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block body %}
    <main id="creer_sortie_block">
        <div class="container-fluid">
            <div id="ajout_sortie">
                <h1>Création d'une nouvelle sortie</h1>

                {{ include('sortie/_form.html.twig') }}


                <a href="{{ path('app_sortie_index') }}">back to list</a>


            </div>

        </div>
    </main>


{% endblock %}