{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}
{% block body %}
    <main id="index_villes">
        <div class="container-fluid">
            <h1>ville index</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Code postal</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for ville in villes %}
                    <tr>
                        <td>{{ ville.codePostal }}</td>
                        <td>{{ ville.nom }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
