{% extends 'base.html.twig' %}

{% block title %}Ajouter ville{% endblock %}
{% block body %}
    <main id="ajouter_ville">
        <div class="container-fluid">
            <h1 class="text-center my-5">Ajouter une ville</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn" id="btn_modouaj">{{ button_label|default('Enregistrer') }}</button>

            {{ form_end(form) }}
        </div>
    </main>


{% endblock %}
